body{
    background-color: aqua;
}
h1 {
    text-align: center;
    width: 100%;
    border: 2px solid black;
    display: block;
    text-decoration-line: underline;
    margin: auto;
    color: rgb(240, 14, 14);
    transition: all 1s, height 4s;
}

h1:hover{
    width: 60%;
    color: beige;
    box-shadow: 1px 5px 6px;
    
}